:root {
    --color-black: #222;
    --spacing: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;

    background-color:paleturquoise;
}

.card {
    width: 100%;
    padding: calc(var(--spacing) * 4);

    background-color: #fdfdfd;
    box-shadow: var(--color-black) 5px 5px;
    border-radius: calc(var(--spacing) * 1);
}

.card-title {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}

.card-subtitle {
    font-size: large;
    font-weight: 100;
}

.separator {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-black);
}

.margin-top-sm {
    margin-top: calc(var(--spacing) * 2);
}

.margin-bottom-sm {
    margin-bottom: calc(var(--spacing) * 2);
}

.margin-top-md {
    margin-top: calc(var(--spacing) * 4);
}

.margin-bottom-md {
    margin-bottom: calc(var(--spacing) * 4);
}

.list {
    list-style-type: none;

    display: flex;
    
    flex-direction: column;
    gap: calc(var(--spacing) * 1);
}

.list-icon-text {
    font-size: small;
}

.list-icon-text .list-item {
    flex-direction: row;
    gap: calc(var(--spacing) * 2);
}

.list-item {
    display: flex;
    align-items: center;
}

.list-icon-text .list-item img {
    flex-basis: auto;
}

.list-icon-text .list-item p {
    flex-grow: 1;
}

#content {
    margin: 0 auto;

    flex-grow: 1;
    display: flex;
    justify-content: center;

    color: var(--color-black);
}

#navigation-menu {
    flex-basis: auto;

    padding-left: calc(var(--spacing) * 5);
    padding-right: calc(var(--spacing) * 15);
}

#navigation-menu .list {
    gap: calc(var(--spacing) * 4);
}

#navigation-menu .list .list-item a {
    color: var(--color-black);
    text-decoration: none;

    font-size: larger;
    transition: all .2s;
}

#navigation-menu .list .list-item a:hover {
    transform: scale(1.5) translateX(calc(var(--spacing) * 3));
}

#profile-card {
    width: 600px;
}

#business-card {
    width: 400px;
    aspect-ratio: 889 / 509;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
